<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours de Volleyball</title>
</head>

<header>
    <h1>RÈGLES OFFICIELLES DE VOLLEYBALL</h1>
</header>

<main>
        <a routerLink="/caracteristiques-du-jeu" class="menu-link"><h3>{{titles[0]}}</h3></a>
        <a routerLink="/partie-1" class="menu-link"><h2>{{titles[1]}}</h2></a>
        <a routerLink="/partie-2-section-1" class="menu-link"><h2>{{titles[2]}}</h2></a>
        <a routerLink="/partie-2-section-2" class="menu-link"><h2>{{titles[3]}}</h2></a>
        <a routerLink="/partie-2-section-3" class="menu-link"><h2>{{titles[4]}}</h2></a>
        <a routerLink="/partie-3" class="menu-link"><h2>{{titles[5]}}</h2></a>

        <!--
        <h2>PARTIE 2 - SECTION 1: LE JEU</h2>
        <article>
            <h3>CHAPITRE 1 - INSTALLATIONS ET ÉQUIPEMENTS </h3>
            <section>
                <h4>1 AIRE DE JEU</h4>
                <h5>1.1 DIMENSIONS</h5>
                <h5>1.2 SURFACE DE JEU</h5>
                <h5>1.3 LIGNES DU TERRAIN</h5>
                <h5>1.4 ZONES ET AIRES</h5>
                <h5>1.5 TEMPÉRATURE</h5>
                <h5>1.6 ECLAIRAGE</h5>
            </section>
            <section>
                <h4>2 FILET ET POTEAUX</h4>
                <h5>2.1 HAUTEUR DU FILET</h5>
                <h5>2.2 STRUCTURE</h5>
                <h5>2.3 BANDES DE CÔTÉ</h5>
                <h5>2.4 ANTENNES</h5>
                <h5>2.5 POTEAUX</h5>
                <h5>2.6 ÉQUIPEME NT COMPLÉMENTAIRE</h5>
            </section>
            <section>
                <h4>3 BALLONS</h4>
                <h5>3.1 NORMES</h5>
                <h5>3.2 UNIFORMITÉ DES BALLONS</h5>
                <h5>3.3 SYSTÈME DE RÉCUPÉRATION DES BALLONS</h5>
            </section>
        </article>
        -->
</main>