<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours de Volleyball</title>
</head>

<header>
    <h1>RÈGLES OFFICIELLES DE VOLLEYBALL</h1>
</header>

<main>
    <section>
        <h3>CARACTÉRISTIQUES DU JEU</h3>
        <article>
            <p>
                Le Volleyball est un sport joué par deux équipes sur un terrain divisé par un filet.
                Il y a différentes versions disponibles pour offrir de la souplesse de jeu à tous.
            </p>
            <p>
                Le but du jeu est d’envoyer le ballon par-dessus le filet afin qu’il retombe dans
                le terrain opposé et d’empêcher cette même action de la part des adversaires.
                L’équipe a droit à trois touches avant de renvoyer le ballon (en plus du contact
                effectué par le contre).
            </p>
            <p>
                Le ballon est mis en jeu par une frappe de service faite par le serveur au-dessus
                du filet en direction des adversaires. L’échange de jeu continue jusqu’à ce que
                le ballon retombe ou sorte du terrain ou si l’une des équipes n’arrive pas à le
                retourner correctement.
            </p>
            <p>
                En Volleyball, l’équipe gagnant un échange de jeu marque un point (Système du
                Point d’Echange). Lorsque l’équipe qui reçoit gagne un point et le droit de servir,
                ses joueurs se déplacent d’une position dans le sens des aiguilles d’une montre.
            </p>
        </article>
    </section>
    <section>
        <h2>PARTIE 1 - PHILOSOPHIE DES RÈGLES ET ARBITRAGE</h2>
        <article></article>
    </section>
    <section>
        <h2>PARTIE 2 - SECTION 1: LE JEU</h2>
        <article>
            <h3>CHAPITRE 1 - INSTALLATIONS ET ÉQUIPEMENTS </h3>
            <section>
                <h4>1 AIRE DE JEU</h4>
                <h5>1.1 DIMENSIONS</h5>
            </section>
            <section>
                <h4>2 FILET ET POTEAUX</h4>
            </section>
        </article>
    </section>
</main>