/* Styles pour le header */
body {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}

header {
  background-color: #007DA0;
  color: #fff; /* Blanc */
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo img {
    width: 10vw;
  }

  nav {
    flex: 1;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        position: relative;

        a {
          color: #ffffff; 
          text-decoration: none;
          transition: color 0.3s ease;
          font-size: 1.7vw;

          &:hover {
            color: #8BDBEC;
          }
        }
      }
    }
  }


}

@media print {
  * {
      display: none;
  }
}
