<header>
  <div class="logo">
      <a routerLink="" class="menu-link"> <img src="assets\FFSU_logo.png" alt="Logo"></a>
  </div>
  <nav>
      <ul>
          <li><a routerLink="/cours" class="menu-link">COURS</a></li>
          <li><a routerLink="/entrainement" class="menu-link">ENTRAINEMENT</a></li>
          <li><a routerLink="/examen" class="menu-link">EXAMEN</a></li>
          <li><a routerLink="/login" class="menu-link">LOGIN</a></li>
          <li><a routerLink="/assistance" class="menu-link">ASSISTANCE</a></li>
      </ul>
  </nav>
</header>
