<!-- entrainement.component.html -->

<div class="container">
    <div *ngIf="currentQuestion" class="question-container">
      <h2>{{ currentQuestion.statement }}</h2>
      <ul>
        <li *ngFor="let option of currentQuestion.options; let i = index">
          <label class="option-label" for="`option-${index}`">
            <input type="checkbox" id="`option-${index}" class="option-checkbox">
            <span class="option-text">{{ option }}</span>
          </label>
        </li>
      </ul>
      <button class="validate-button" (click)="validate()">Valider</button>
    </div>
    <div *ngIf="isfinished" class="end-container">
      <h2>Fin de l'entraînement</h2>
      <p>Vous avez répondu correctement à {{ score }} questions sur {{ questions.length }}</p>
      <button class="restart-button" (click)="restart()">Recommencer</button>
    </div>
</div>
  