<!-- entrainement.component.html -->

<div *ngIf="currentQuestion">
  <h2>{{ currentQuestion.questionText }}</h2>
  <!--
  <div *ngFor="let answer of loadAnswers():; let i = index">
    <input type="checkbox" [id]="'answer' + i" [disabled]="responseMode">
    <label [for]="'answer' + i" [ngClass]="getOptionClasses(i)">{{ answer.response_text }}</label>
  </div>
  -->
  <button (click)="toggleButton()">{{ buttonLabel }}</button>
  <p *ngIf="responseMode">{{ result }}</p>
</div>
<div *ngIf="isfinished">
  <h2>Quiz terminé!</h2>
  <p>Votre score: {{ score }} / {{ nbQuestions }}</p>
  <button (click)="restart()">Recommencer</button>
</div>

  