/* styles.css */

.question-container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    padding: 1vw 2vw;
  }
}

.statement {
  font-size: 3vw;
}

.option-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 2vw;
}

.validate-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.validate-button:hover {
  background-color: #0056b3;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
